.login-header {
    color: #333333;
}

.login-container {
    max-width: 400px;
    margin: 100px auto 0;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}


    .login-container h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .login-container form {
        display: flex;
        flex-direction: column;
    }

    .login-container input {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-container button {
        padding: 12px 20px;
        border: none;
        border-radius: 10px;
        background-color: #333333;
        color: orange;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        font-size: 15px;
    }

        .login-container button:hover {
            background-color: orange;
            color: #333333;
        }
