/* Shop.css */

.shop-container {
    padding: 20px;
}

.shop-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Shop.css */

.search {
    margin-top: 10px; /* Adjust as needed */
    margin-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
    box-shadow: 0.5px;
}

    .search input {
        padding: 8px 15px; /* Adjust as needed */
        border: 1px solid #333333;
        border-radius: 10px; /* Rounded edges */
        min-height: 20px; /* Minimum height */
        width: 100%; /* Make the input fill the container */
        box-sizing: border-box; /* Include padding in width calculation */
        font-size: 14px; /* Adjust as needed */
    }

        .search input:focus {
            outline: none; /* Remove focus outline */
            border-color: #333333; /* Change border color on focus */
        }



.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.product-container {
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

    .product-container:hover {
        transform: translateY(-5px);
    }

    .product-container img {
        width: 100%;
        border-radius: 10px;
    }

    .product-container h3 {
        margin-top: 10px;
        font-size: 18px;
    }

    .product-container p {
        margin-top: 5px;
        font-size: 16px;
        color: #888;
    }

.product-container {
    position: relative; /* Ensure positioning of the button relative to the container */
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

    .product-container:hover {
        transform: translateY(-5px);
    }

    .product-container img {
        width: 100%;
        border-radius: 10px;
    }

    .product-container h3 {
        margin-top: 10px;
        font-size: 18px;
    }

    .product-container p {
        margin-top: 5px;
        font-size: 16px;
        color: #888;
    }

    .product-container button {
        position: absolute;
        bottom: 20px;
        right: 20px; /* Adjust the right position to move the button to the right */
        padding: 5px 20px;
        border: none;
        border-radius: 10px;
        background-color: #333333;
        color: orange;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

        .product-container button:hover {
            background-color: orange;
            color: #333333;
        }
